<h1>New Contact</h1>
<form method="post" action="/contacts">
  <labe for="name">Name<input type="text" id="name" name="name"></label>
  <labe for="phone">Phone<input type="text" id="phone" name="phone"></label>
  <input type="submit" value="save">
</form>
